*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    margin: 0;
    background: rgb(182, 213, 244);
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgb(182, 213, 244);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.logo{
    font-size: 20px;
    font-weight: bold;
}
.navbar nav a{
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.navbar nav a:hover{
    color: blue;
}
.hero{
    height: 80vh;
    background: url("https://www.bankrate.com/2022/01/14162843/Untitled-20.jpeg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 700px;
    padding: 30px;
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    color: #000;
}

.card h3{
    margin-bottom: 15px;
    font-size: 18px;
}
textarea{
    width: 100%;
    height: 140px;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
    margin-bottom: 20px;
}
.controls{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.top-controls{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    flex-wrap:wrap;
}
#speakBtn {
    grid-column: 1;
}

#stopBtn {
    grid-column: 2;
}

.control-item:nth-of-type(1) {
    grid-column: 3;
}

.control-item:nth-of-type(2) {
    grid-column: 1;
}

.control-item:nth-of-type(3) {
    grid-column: 2;
}

.voice-select{
    display:flex;
    align-items:center;
    gap:8px;
}
button{
    background: #3a79c9;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
button:hover{
    background: #2d5fa2;
}

#voiceSelect{
    padding:8px 10px;
    border-radius:6px;
    border:1px solid #ccc;
}

.control-item{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.control-item select,
.control-item input{
    margin-top: 5px;
}