*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    margin: 0;
    background: rgb(182, 213, 244);
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgb(182, 213, 244);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.logo{
    font-size: 20px;
    font-weight: bold;
}
.navbar nav a{
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.navbar nav a:hover{
    color: blue;
}